$grey: #707070;
$border: 20px;

.background {
  background: #f0f0f2;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  .cut_line {
    font-size: 10px;
    color: $grey;
    display: flex;
    align-items: center;
  }
  .cut_line::before {
    content: "";
    flex: 1;
    height: 1px;
    background: $grey;
    margin-left: 6vw;
    margin-right: 2vw;
  }
  .cut_line::after {
    content: "";
    flex: 1;
    height: 1px;
    background: $grey;
    margin-left: 2vw;
    margin-right: 6vw;
  }

  .author {
    display: flex;
    align-items: center;
    margin-left: $border;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .intro_text{
    margin-top:10px;
    margin-left: $border;
    margin-right: $border;
  }
}
