$grey: #727272;
$inputBgColor: rgb(248, 248, 248);
$border: 5vw;

@function pxToVw($px) {
  @return ($px/375) + vw;
}

.author_input {
  border: none;
  outline: none;
  font-size: 3vw;
  color: $grey;
  background-color: $inputBgColor;
  width: 83vw;
  border-radius: 8px;
  padding: 8px;
}

.intro_input {
  font-size: 4vw;
  width: 84vw;
  border-radius: 8px;
  padding: 3vw;
  margin: $border;
  color: $grey;
  background-color: $inputBgColor;
}

.background {
  background: #f0f0f2;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  .edit_bar {
    width: 90vw;
    height: 15vw;
    font-size: 4vw;
    margin-left: $border;
    margin-right: $border;
    margin-top: -15vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .cut_line {
    font-size: 3vw;
    color: $grey;
    display: flex;
    align-items: center;
  }
  .cut_line::before {
    content: "";
    flex: 1;
    height: 1px;
    background: $grey;
    margin-left: 5vw;
    margin-right: 2vw;
  }
  .cut_line::after {
    content: "";
    flex: 1;
    height: 1px;
    background: $grey;
    margin-left: 2vw;
    margin-right: 5vw;
  }

  .author {
    display: flex;
    align-items: center;
    margin: 4vw 5vw 4vw 4vw;
    margin-left: $border;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  .intro_text {
    margin: $border;
    font-size: 4vw;
  }
}
