$border: 5vw;
$grey: #727272;
$inputBgColor: rgb(248, 248, 248);

@function pxToVw($px) {
  @return ($px/375) + vw;
}

.card_text_div {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin: $border;
  border-radius: 18px;

  .card_text_title {
    font-size: 4vw;
    width: 80vw;
    padding: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    .title_input {
      background-color: $inputBgColor;
      width: 100%;
      border-radius: 8px;
      padding: 8px;
    }
  }

  .card_text_info {
    padding: 0 $border $border $border;
    height: auto;

    .info_detail {
      font-size: 3vw;
      display: flex;
      align-items: center;

      & > div > span {
        font-size: 3vw;
        width: 10vw;
        padding: 8px;
        border-radius: 8px;
        color: $grey;
        background-color: $inputBgColor;
      }

      & > div > span:last-child {
        margin-left: 2vw;
      }

      .location_input {
        background-color: $inputBgColor;
        width: 73vw;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }
}
