$border: 5vw;
$grey: #535353;
$inputBgColor: rgb(248, 248, 248);

@function pxToVw($px) {
  @return ($px/375) + vw;
}

.card_text_div {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin: $border;
  border-radius: 18px;

  .card_text_title {
    font-size: 5vw;
    padding: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    .title_input {
      resize: none;
      border: none;
      outline: none;
      color: $grey;
      background-color: $inputBgColor;
      width: 100%;
      border-radius: 8px;
      padding: 8px;
    }
  }

  .card_text_info {
    padding-left: $border;

    .info_detail {
      display: flex;
      align-items: center;

      & > div > span {
        font-size: 3vw;
        width: 10vw;
        padding: 8px;
        border-radius: 8px;
        color: #727272;
        background-color: $inputBgColor;
      }

      & > div > span:last-child {
        margin-left: 2vw;
      }

      .location_input {
        resize: none;
        border: none;
        outline: none;
        background-color: $inputBgColor;
        color: $grey;
        width: 70vw;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }
}
