.bar {
  top: 0;
  height: 15vw;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  .barFront {
    display: flex;
    align-items: center;
    flex-direction: row;
    & > * {
      width: 8vw;
      margin-left: 2vw;
      margin-right: 2vw;
    }
  }
  .profile {
    margin-top: 2vw;
    margin-left: 60vw;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 50%;
  }
}
