$border: 20px;
$grey: #535353;
$themeColor: #d7dadd;

.card_text_div {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin: $border;
  border-radius: 18px;

  .card_text_title {
    font-size: 5vw;
    padding: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    .title_input {
      resize: none;
      border: none;
      outline: none;
      font-size: 4vw;
      color: $grey;
      background-color: $themeColor;
      width: 100%;
      border-radius: 8px;
      padding: 8px;
    }
  }

  .card_text_info {
    padding-left: $border;

    .info_detail {
      display: flex;
      align-items: center;

      & > div > span:first-child {
        font-size: 3.5vw;
        width: 22.6vw;
        padding: 1.5vw;
        border-radius: 8px;
        color: #f3f3f3;
        background-color: #d2d2d2;
      }

      & > div > span:last-child {
        font-size: 3.5vw;
        width: 22.6vw;
        padding: 1.5vw;
        margin-left: 2vw;
        border-radius: 8px;
        color: #f3f3f3;
        background-color: #d2d2d2;
      }

      .location_input {
        resize: none;
        border: none;
        outline: none;
        font-size: 3.7vw;
        background-color: $themeColor;
        color: $grey;
        width: 70vw;
        height: 7vw;
        padding-left: 3vw;
        padding-top: 1vw;
        border-radius: 8px;
      }
    }
  }
}
