$border: 5vw;

@function pxToVw($px) {
  @return ($px/375) + vw;
}

.cardBox {
  background-color: #fff;
  width: 90%;
  margin: $border;
  border-radius: 18px;
  display: flex;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2),  0 4px 10px 0 rgba(0, 0, 0, 0.10);
  .cardDate {
    margin: 15px 20px 15px;
    padding: 10px;
    width: 12vw;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(12, 167, 170);
    background: linear-gradient(
      to bottom,
      rgb(12, 167, 170) 0%,
      rgb(12, 167, 170) 50%,
      white 51%,
      white 100%
    );
  }
}

.cardInfo {
  margin-right: $border;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .cardInfo_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 4vw;
    margin-bottom: 2.5vw;
  }
  .cardInfo_date {
    display: flex;
    align-items: center;
    font-size: 3vw;
    color: rgb(112, 112, 112);
  }
  .cardInfo_date > img {
    height: 5vw;
    margin-right: 3vw;
  }
}
