.cardBox {
  background-color: #fff;
  width: 90%;
  margin: 20px;
  border-radius: 18px;
  display: flex;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2),  0 4px 10px 0 rgba(0, 0, 0, 0.10);
  .cardDate {
    /* margin: 20px; */
    margin: 15px 20px 15px;
    padding: 10px;
    width: 17%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(12, 167, 170);
    background: linear-gradient(
      to bottom,
      rgb(12, 167, 170) 0%,
      rgb(12, 167, 170) 50%,
      white 51%,
      white 100%
    );
  }
}

.cardInfo {
  margin-right: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .cardInfo_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .cardInfo_date {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgb(112, 112, 112);
  }
  .cardInfo_date > img {
    height: 20px;
    margin-right: 5px;
  }
}
